html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: grid;
    grid-template-areas: "header header"
                          "main main"
                          "footer footer";
    grid-template-columns: repeat(2, 1fr); 
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.header{
    grid-area: header;
    margin-bottom: 15px;
    margin-left: 30px;

}

.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

.main h2{
    font-size: 5rem;
    color: #fff;
    top: 0;
    margin-top: 50px;
    margin-left: 25px;
    position: absolute;
    font-weight: 700;
}

.main p{
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    margin-left: 25px;
}

.main a{
    font-size: 2rem;
    margin: 50px;
    position: absolute;
    background-color: #fff;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: hsl(257, 40%, 49%);
    transition: 0.4s;
}

.main a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer{
    grid-area: footer;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
}

.footer i{
    padding: 10px;
    color: #fff;
    transition: 0.4s;
}

.footer i:hover{
    color: hsl(300, 69%, 71%);
}